
.lark-tree .list-group-item {
	cursor: pointer;
}

.lark-tree span.indent {
	margin-left: 10px;
	margin-right: 10px;
}

.lark-tree span.icon {
	width: 12px;
	margin-right: 5px;
}

.lark-tree .node-disabled {
	color: silver;
	cursor: not-allowed;
}